{
"Comment1": "basic-configurations",
"SSID":"Fadenlauf-2",
"Password":"watchout",
"BASE": "http://192.168.0.126",
"num_of_tanks": 2,
"tank_id_1": 1,
"tank_id_2":3,
"tank_id_3": 4,
"tank1_volume": 1350,
"tank2_volume": 20,
"tank3_volume": 20,
"opCodeT1": 0,
"opCodeT2": 1.1,
"opCodeT3": 0,
"Comment2": "Tank1-parameters",
"t1_pressureSensorP":32,
"t1_pressurePumpP":27,
"t1_outletValveP":23,
"t1_inletValveP":4,
"t1_waterPumpP":2,
"Comment3": "Tank2-parameters",
"t2_pressureSensorP":34,
"t2_pressurePumpP":26,
"t2_outletValveP":5,
"t2_inletValveP":12,
"t2_waterPumpP":14,
"Comment4": "Tank3-parameters",
"t3_pressureSensorP":0,
"t3_pressurePumpP":0,
"t3_outletValveP":0,
"t3_inletValveP":0,
"t3_waterPumpP":0,
}
