      html {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: rgb(241, 241, 234);
      }
      body{
        font-family: 'Montserrat', sans-serif;
        background-color: #F5F5F5;
        min-height: 100vh;
      }
      h1 {
        font-size: 1.8rem;
        color: white;
      }
      p {
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
      }
      
      a{
        padding: 0 20px;
        text-decoration: none;
        color: #c1c4c8;
        font-weight: bold;
      }
      a:hover{
        color: #eaebed;
      
      }
      .labels {
        font-size: large;
        text-align: center;
        font-weight: bold;
        margin-top: 1.5rem;
        
      }
     .btn-on{
        justify-content: end;
        }
      .nav-1{
        justify-content: flex-end;
        align-items: center;
        
      }
      .nav-2{
        justify-content: flex-start;
        align-items: center;
        }
      .topnav {
        margin: 0 auto;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        background-color: #0a1128;
      }
      .title{
        text-align: left;
      }
      .btn-nav{
        text-align: center;
        background-color: red;
        border-color: red;
        border-radius: 1rem;
        padding: 1.8rem;
        width: 150px;
        height:auto;
        color:#f9fafb;
        border-radius:6px;
        padding:15px;
        border:0

      }
      
      .btn-nav:hover{
        font-size:medium;
        color: black;
      }
      .canvas{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .content {
        padding: 5%;
      }
      .btn-ctrl {
        background-color: red;
        border-color: red;
        border-radius: 1rem;
        padding: 1.8rem;
        width: 60px; 
        height: 50px;
        color:#f9fafb;  
        border-radius:6px; 
        padding:15px; 
        border:0
        
      }
      .btn-ctrl:hover {
        font-size:medium;
        width: 65px;
        color: black;
      }
      #thecard{
        border-radius:0.8rem;
        padding: 20px;
      }
      #main-container{
        align-items:center;
        justify-content:center;
      }
        
      .navbar-brand{
        color: white;
        font-weight:bold;
        font-size:large;
      }
      .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: hsl(209, 95%, 24%);
      }
      .adduser-img{
        height:30px;
        width:30px;
      }
      .logout-img{
        height:30px;
        width:30px;
        color: #c1c4c8;
      }
      .nav-text{
        color: #c1c4c8;
        margin-bottom: 0rem;
        font-weight: bold;
      }
      .nav{
        width:100%;
      }
      .toast-img{
        height:20px;
        width: 20px;
      }
      .toast-body{
        font-size:20px;
        font-family: 'Montserrat', sans-serif;
      }
      .toast-label{
        font-size:18px;
        color: red;
        font-family: 'Montserrat', sans-serif;
      }

      @media (max-width: 609px){
        .button-grid{
          grid-gap: 0rem;
        }
        .topnav{
          grid-template-columns: repeat(autofit, minmax(200px, 1fr));

        }
        #thecard{
        padding: 0px;
        }
        .toast-body{
        font-size:14px;
        }
        .toast-label{
        font-size:12px;
        }
        
      }
      @media (max-width: 991px){
        .nav{
          width: auto;
        }
        .btn-on{
          justify-content: center;
          }
      }
