@font-face{
  font-family: 'Montserrat';
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf);
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf) format('truetype'),
       url(../webfonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
  font-family: 'Poppins';
  src: url(../webfonts/Poppins-Regular.ttf);
  src: url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-BlackItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Bold.ttf) format('truetype'),
       url(../webfonts/Poppins-BoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBold.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLight.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Italic.ttf) format('truetype'),
       url(../webfonts/Poppins-Light.ttf) format('truetype'),
       url(../webfonts/Poppins-LightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Medium.ttf) format('truetype'),
       url(../webfonts/Poppins-MediumItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBold.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Thin.ttf) format('truetype'),
       url(../webfonts/Poppins-ThinItalic.ttf) format('truetype');
}


/*DOCUMENT*/
html {
  background-color: rgb(241, 241, 234);
}
body{
  font-family: -apple-system, BlinkMacSystemFont,"Poppins", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url(../assets/images/wt9.jpg);
  background-position:bottom;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;

}
/*attribute styles*/
h1 {
  font-size: 1.8rem;
  color: white;
}
p {
  font-size: 1.4rem;
  
}

a{
  text-decoration: none;
  color: #c1c4c8;
  
}
a:hover{
  color: #eaebed;

}

select option:checked{
  background-color:#3cc4a0;
  color:white;
}

/*NAVBAR SECTION*/

.navbar-brand{
  margin-right:0rem;
  font-size: 30px;
  color: white;
  
}
.nav{
  width:100%;
}

.navbar{
  background-color: rgba(0,0,0,0.6);
  color:black;
  /*backdrop-filter: blur(8px);*/
}

.offcanvas{
  background-color: rgba(0,0,0,0.0);
  color:black;
}
.offcanvas-backdrop{
  backdrop-filter: blur(8px);
}

.dropdown:hover{
  cursor:pointer;
}


/*CONTENTS SECTION*/
.labels {
  font-size: large;
  text-align: center;
  margin-top: 1.5rem;
  color:white;
  
}
.btn-nav{
  text-align: center;
  background-color: red;
  border-color: red;
  border-radius: 1rem;
  padding: 1.8rem;
  width: 150px;
  height:auto;
  color:#f9fafb;
  border-radius:6px;
  padding:15px;
  border:0
}

#select{
 background-color: rgba(255,255,255,0.6);
 backdrop-filter: blur(8px);
 border:0 none transparent;

}

#select:focus{
  outline: none;
  box-shadow: 0px 0px 10px #3cc4a0;/*here change the color*/
  border: 1px solid #3cc4a0;
}

.btn-nav:hover{
  font-size:medium;
  color: black;
}
#Chart{
  left:-6px;
}

.content {
  padding: 5%;
}
.btn-ctrl {
  background-color: red;
  border-color: red;
  border-radius: 1rem;
  padding: 1.8rem;
  width: 60px; 
  height: 50px;
  color:#f9fafb;  
  border-radius:6px; 
  padding:15px; 
  border:0
  
}
.btn-ctrl:hover {
  font-size:medium;
  width: 65px;
  color: black;
}

#thecard{
  border-radius:0.8rem;
  padding: 20px;
  
}
#thecard2{
  border-radius:0.8rem;
  padding: 20px;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(8px);
  
}

#the_container{
  min-height:100vh;
}

.card-title {
  font-size: 1.2rem;
  
  color: hsl(209, 95%, 24%);
}

.toast-img{
  height:20px;
  width: 20px;
}
.toast-body{
  font-size:20px;
  
}

.success{
  font-size:18px;
  color:green;
  
}
.warning{
  font-size:18px;
  color:red;
  
}

/* mode button */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  width: 150px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
/*The modal close button*/
.button-31 {
  align-items: center;
  appearance: none;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px
}

.button-31:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-31:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-31:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* The Modal (background) */
.modala {
  backdrop-filter: blur(8px);
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  max-width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: block;
  background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,1); /* Black w/ opacity */
}

/* Modal Content/Box */
.modala-content {
  justify-content:center;
  align-items: center;
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height:100%;
  color:white;
}



/*webkits*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee; 
  border-radius: 20px;
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#bcbcbc;  
  border-radius: 10px;
  opacity:0.5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #122945;
}



/*Media queries*/

 @media (max-width: 390px){
  .l2{
    margin-top:20px;
  }
  .nav-1{
  justify-content: flex-start;
  align-items: flex-start;
    
  }
   
  }
  
  @media (max-width: 500px){
    #selection{
      margin-top:20px;
    }
   
  }
  @media (max-width: 780px){
    .button-grid{
      grid-gap: 0rem;
    }
    .topnav{
      grid-template-columns: repeat(autofit, minmax(200px, 1fr));

    }
    #thecard{
    padding: 0px;
    }
    .toast-body{
    font-size:14px;
    }
    .toast-label{
    font-size:12px;
    }
    .navbar-brand{
    
    font-size: 20px;
    color: white;
    
  }
  .nav-text{
    margin-top:6px;
  }
    
  }
  @media (max-width: 991px){
    .nav{
      width: auto;
    }
    .btn-on{
      justify-content: center;
      }
      .nav-icon{
         margin-left:5px;
        }
        
      .offcanvas{
        background-color: rgba(0,0,0,0.6);
        color:black;
        backdrop-filter: blur(8px);
      }
  }
