
@font-face{
  font-family: 'Montserrat';
  src: url(../webfonts/Montserrat-Italic-VariableFont_wght.ttf);
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf) format('truetype'),
       url(../webfonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
  font-family: 'Poppins';
  src: url(../webfonts/Poppins-Regular.ttf);
  src: url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-BlackItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Bold.ttf) format('truetype'),
       url(../webfonts/Poppins-BoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBold.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLight.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Italic.ttf) format('truetype'),
       url(../webfonts/Poppins-Light.ttf) format('truetype'),
       url(../webfonts/Poppins-LightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Medium.ttf) format('truetype'),
       url(../webfonts/Poppins-MediumItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBold.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Thin.ttf) format('truetype'),
       url(../webfonts/Poppins-ThinItalic.ttf) format('truetype');
}


/*ATTRIBUTE STYLES*/
html {
  background-color: rgb(241, 241, 234);
}
body{
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", sans-serif,"Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #F5F5F5;
  min-height: 100vh;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
p {
  font-size: 1.8rem;
}

a{
  text-decoration: none;
  color: #c1c4c8;
  font-weight: 200;
}
a:hover{
  color: #eaebed;
}

/*NAVBAR SECTION*/
.navbar-brand{
  margin-right:0rem;
  font-size: 30px;
  color: white;
}

.navbar{
  background-color:#122945;
}

.offcanvas{
  background-color:#122945;
  width:auto;
}

.dropdown:hover{
  cursor:pointer;
}

  
/*CONTENT SECTION*/
.theRow{
  margin-right:auto;
  margin-left:auto;

}
.labels {
  font-size: large;
  text-align: center;
  
  margin-top: 1.5rem;
  
}
.btn-on{
  justify-content: end;
  }
.nav-1{
  justify-content: flex-end;
  align-items: center;
  
}
.nav-2{
  justify-content: flex-start;
  align-items: center;
  }
.topnav {
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  background-color: #0a1128;
}
.title{
  text-align: left;
}
.btn-nav{
  text-align: center;
  background-color: red;
  border-color: red;
  border-radius: 1rem;
  padding: 1.8rem;
  width: 150px;
  height:auto;
  color:#f9fafb;
  border-radius:6px;
  padding:15px;
  border:0

}

.btn-nav:hover{
  font-size:medium;
  color: black;
}
.canvas{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.content {
  padding: 5%;
}
.btn-ctrl {
  background-color: red;
  border-color: red;
  border-radius: 1rem;
  padding: 1.8rem;
  width: 60px; 
  height: 50px;
  color:#f9fafb;  
  border-radius:6px; 
  padding:15px; 
  border:0
  
}
.btn-ctrl:hover {
  font-size:medium;
  width: 65px;
  color: black;
}
#thecard{
  padding: 20px;
}
#the_container0{
  border-right:1px #ff0000;
}
#the_container1{
  border-radius: 10px;
}
#the_container2{
  border-radius: 10px;
}
#the_container3{
  border-radius: 10px;
}
#the_container4{
  border-radius: 10px;
}
#the_container5{
  border-radius: 10px;
}
#main-container{
  align-items:center;
  justify-content:center;
}
.card-title {
  color: hsl(209, 95%, 24%);
}
#tankName{
  color:#3cc4a0;
  font-size:40px;
  margin-bottom:20px;
}
.logout-img{
  height:30px;
  width:30px;
  color: #c1c4c8;
}
.nav-text{
  color: #c1c4c8;
  margin-bottom: 0rem;
  
}
.nav{
  width:100%;
}
.toast-img{
  height:20px;
  width: 20px;
}
.toast-body{
  font-size:20px;
  
}
.toast-label{
  font-size:18px;
  color: red;
  
}

#the_container0{
  justify-content: center;
}
  
#Gauge{
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: orange;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
 /*The modal close button*/
.button-31 {
  align-items: center;
  appearance: none;
  background-color: #8b0000;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-31:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-31:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-31:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
/*The modal yes button*/
.button-32 {
  align-items: center;
  appearance: none;
  background-color: green;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-32:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-32:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-32:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* The Modal (background) */
.modala {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modala-content {
  justify-content:center;
  align-items: center;
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height:100%;
  color:white;
}
    
  /*webkits*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee; 
  border-radius: 20px;
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#bcbcbc;  
  border-radius: 10px;
  opacity:0.5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #122945;
}


/*MEDIA QUERIES*/
@media (max-width: 390px){
  .l2{
    margin-top:20px;
  }
  .nav-1{
  justify-content: flex-start;
  align-items: flex-start;
  }
  
  .offcanvas{
  width: 332px;
}


}

@media (max-width: 609px){
.button-grid{
  grid-gap: 0rem;
}
.topnav{
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));

}

.toast-body{
font-size:14px;
}
.toast-label{
font-size:12px;
}
.navbar-brand{

font-size: 20px;
color: white;

}
.nav-text{
margin-top:6px;
}

}

@media (max-width: 991px){
.nav{
  width: auto;
}
.btn-on{
  justify-content: center;
  }
}
