@font-face{
  font-family: 'Montserrat';
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf);
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf) format('truetype'),
       url(../webfonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
  font-family: 'Poppins';
  src: url(../webfonts/Poppins-Regular.ttf);
  src: url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-BlackItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Bold.ttf) format('truetype'),
       url(../webfonts/Poppins-BoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBold.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLight.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Italic.ttf) format('truetype'),
       url(../webfonts/Poppins-Light.ttf) format('truetype'),
       url(../webfonts/Poppins-LightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Medium.ttf) format('truetype'),
       url(../webfonts/Poppins-MediumItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBold.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Thin.ttf) format('truetype'),
       url(../webfonts/Poppins-ThinItalic.ttf) format('truetype');
}


html {
display: inline-block;
text-align: center;
}
body{
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","Poppins", sans-serif, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
display: grid;
min-height: 100vh;
position:relative;
background: linear-gradient(60deg, rgba(40,198,159,255) 0%, rgb(88,209,179) 100%);
}
h1 {
font-size: 1.8rem;
color: white;
}
p {
font-size: 1.4rem;
}
#main-container{
align-items:center;
justify-content:center;
}
.card-title {
font-size: 1.7rem;
color: #122945;
}
#thecard2{
max-width: 350px;
min-width: 350px;
border-radius:0.8rem;
}
.form-group{
margin-top:1.2rem;
}
.input-fields{
height:40px;
width:100%;
background-color: #F5F5F5;
border-width:0 0;
border-radius:10px;
border-color:#F5F5F5;
cursor: pointer;
margin-bottom:10px;
margin-right: 0px;
}
.input-fields:focus{
outline: none;
box-shadow: 0px 0px 5px #3cc4a0;/*here change the color*/
background-color: #F5F5F5;
}
.input-fields:focus:hover {
outline: none;
box-shadow: 0px 0px 5px #3cc4a0;/*here change the color*/
background-color: #F5F5F5;
}

.user-img{
height:100px;
width:100px;
}
.user2-img{
height:40px;
width:40px;
}
.img-pos{
text-align: center;
margin-bottom: 50px;
}
.login-text{
color:#fdfdfd;
}

/* The Modal (background) */
.modala {
  backdrop-filter: blur(8px);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
}

/* Modal Content/Box */
.modala-content {
  justify-content:center;
  align-items: center;
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height:100%;
  color:white;
}
.login{
width:60%;
height:40px;
border-radius:20px;
background-color:#122945;
}
.login:hover{
  background-color:#1d436e;
}
.org-link{
  text-decoration:none;
  color:black;
}
.org-link:hover{
  color:#122945;
}

.waves {
  position:relative;
  width: 100%;
  height:100vh;
  margin-bottom:-200px; /*Fix for safari gap*/
  min-height:100px;
  max-height:290px;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:200px;
    min-height:40px;
    margin-bottom:-150px;
  }
  h1 {
    font-size:24px;
  }
}
