 html {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        text-align: center;
      }
      body{
        background-image: url(../assets/images/SL-030720-28740-05.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
        display: grid;
        min-height: 100vh;
      }
      h1 {
        font-size: 1.8rem;
        color: white;
      }
      p {
        font-size: 1.4rem;
      }
      #main-container{
        align-items:center;
        justify-content:center;
      }
      .card-title {
        font-size: 1.7rem;
        font-weight: bold;
        color: hsl(209, 95%, 24%);
      }
      #thecard2{
        max-width: 350px;
        min-width: 350px;
        border-radius:0.8rem;
        }
      .form-group{
        margin-top:1.2rem;
      }
      .username{
        height:40px;
        width:310px;
        text-align:center;
        border-width:0 0;
        border-color:#F5F5F5;
        background: url(../assets/images/person-fill.svg);
        background-color: #F5F5F5;
        background-position:left;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        padding-right: 17px;
        cursor: pointer;
      }
      .password{
        height:40px;
        width:310px;
        text-align:center;
        border-width:0 0;
        border-color:#F5F5F5;
        background:url(../assets/images/key-fill.svg);
        background-color: #F5F5F5;
        background-position:left;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        padding-right: 17px;
        cursor: pointer;
      }
      .user-img{
        height:80px;
        width:80px;
      }
      .user2-img{
        height:40px;
        width:40px;
      }
      .img-pos{
        text-align: center;
        margin-bottom: 50px;
      }
      #login{
        width:50%;
        margin-top:20px;
        background-color:black;
      }
