@font-face{
  font-family: 'Montserrat';
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf);
  src: url(../webfonts/Montserrat-VariableFont_wght.ttf) format('truetype'),
       url(../webfonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
  font-family: 'Poppins';
  src: url(../webfonts/Poppins-Regular.ttf);
  src: url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-BlackItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Bold.ttf) format('truetype'),
       url(../webfonts/Poppins-BoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBold.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLight.ttf) format('truetype'),
       url(../webfonts/Poppins-ExtraLightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Italic.ttf) format('truetype'),
       url(../webfonts/Poppins-Light.ttf) format('truetype'),
       url(../webfonts/Poppins-LightItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Medium.ttf) format('truetype'),
       url(../webfonts/Poppins-MediumItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Regular.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBold.ttf) format('truetype'),
       url(../webfonts/Poppins-SemiBoldItalic.ttf) format('truetype'),
       url(../webfonts/Poppins-Thin.ttf) format('truetype'),
       url(../webfonts/Poppins-ThinItalic.ttf) format('truetype');
}

/*ELEMENT STYLES*/
html {
  display: inline-block;
  background-color: rgb(241, 241, 234);
}
body{
  font-family: -apple-system, BlinkMacSystemFont,"Poppins", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #F5F5F5;
  min-height: 100vh;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
p {
  font-size: 0.9rem;
 
}

a{
  padding: 0 20px;
  text-decoration: none;
  color: #c1c4c8;
  
}
a:hover{
  color: #eaebed;

}
table{
 vertical-align: middle !important;
}

/*HEADER*/
.title{
  text-align: left;
}

/*NAVBAR SECTION*/
.navbar-brand{
  
  font-size: 30px;
  color: white;
  
}
.navbar{
  background-color:#122945;
}

.offcanvas{
  background-color:#122945;
}

.dropdown:hover{
  cursor:pointer;
}

/*CONTENT SECTION*/
#main-container{
  text-align: center;
  align-items:center;
  justify-content:center;
}

#thecard2{
  min-width: 350px;
  border-radius:0.8rem;
  }
#add-icon{
	font-size:31px;
	
}
#add-icon:hover{
  color:#122945;
  cursor:pointer;
}


.adduser-img{
  height:30px;
  width:30px;
}
.logout-img{
  height:30px;
  width:30px;
  color: #c1c4c8;
}


#thecard2{
  border-radius:0.5rem;
  padding: 5px;
}
#main-container{
  align-items:center;
  justify-content:center;
}

.trash:hover{
  cursor:pointer;
}

/* The Modal (background) */
.modala {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modala-content {
  justify-content:center;
  align-items: center;
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height:100%;
  color:white;
}

/*webkits*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee; 
  border-radius: 20px;
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#bcbcbc;  
  border-radius: 10px;
  opacity:0.5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #122945;
}


/*MEDIA QUERIES*/

 @media (max-width: 390px){
  .l2{
    margin-top:20px;
  }
  .nav-1{
  justify-content: flex-start;
  align-items: flex-start;
  
}
 
 }
@media (max-width: 609px){
  .button-grid{
    grid-gap: 0rem;
  }
  .topnav{
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));

  }
  #thecard{
  padding: 0px;
  }
  .toast-body{
  font-size:14px;
  }
  .toast-label{
  font-size:12px;
  }
  .navbar-brand{
  
  font-size: 20px;
  color: white;
  
}
.nav-text{
  margin-top:6px;
}
  
}
@media (max-width: 991px){
  .nav{
    width: auto;
  }
  .btn-on{
    justify-content: center;
    }
  .nav-icon{
    margin-left:5px;
  }
}

