{
"SSID":"yourssid",
"Password": "yourpassword",
"SSID2":"yoursecondaryssid",
"espIP":"esp-ip",
"Gateway":"yourgateway",
"DNS":"yourdns",
"Base": "http://yourserverip/",
"tank_volume": 2000,
"tank_diameter": 127,
"tank_height": 158,
"tank_length": 200,
"tank_width": 50,
"tank_id": 1,
"sensor_clearance": 0,
"tank_type":"vCylindrical",
}
